@model Entities.Question

@{
    ViewData["Title"] = "Participation in a questionnaire";
}

<h1>Participation in a questionnaire</h1>

<form asp-action="Answer">
    <input type="hidden" asp-for="Id" />
    <label asp-for="Entitled" class="control-label">@Model.Entitled</label>
    <ul>
        @for (int i = 0; i < Model.Proposals.Count; i++)
        {
        <li>
            <input type="checkbox" asp-for="@Model.Proposals.ToList()[i].Selected" />
            <label asp-for="@Model.Proposals.ToList()[i].Selected">@Model.Proposals.ToList()[i].Entitled</label>
            <input type="hidden" asp-for="@Model.Proposals.ToList()[i].Id" />
        </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>
