@model Entities.Question

@{
    ViewData["Title"] = "Participation in a questionnaire";
}

<h2>Participation in the questionnaire : @Model.Questionnaire.Title</h2>
<hr />

<form asp-action="Answer" id="SubmitAnswer">
    <input type="hidden" asp-for="@Model.Id" />
    <h4><span id="Countdown">@(Model.Timer ?? Model.Questionnaire.DefaultTimer)</span> <label asp-for="Entitled" class="control-label">@Model.Entitled</label></h4>
    <ul>
        @foreach (var proposal in Model.Proposals)
        {
            <li>
                <input type="checkbox" name="proposals" value="@proposal.Id" />
                <label for="proposals">@proposal.Entitled</label>
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Answer</button>
</form>

@section Scripts {
    <script>
        $(function () {
            displayCountdown();
        });
        function displayCountdown() {
            var $timer = $('#Countdown')
            var intervalId = setInterval(() => {
                var time = Number($timer.text().trim());
                if (isNaN(time)) {
                    console.log("timer n'est pas un nombre");
                    return;
                }
                time = Math.round(time - 1);
                if (time == 0) {
                    $timer.text('temps écoulé');
                    clearInterval(intervalId);
                    setTimeout(function () {
                        $("#SubmitAnswer").submit();
                    }, 1000);
                }
                else {
                    $timer.text(time);
                }
            }, 1000)
        };
    </script>
}

    <style>
        ul {
            list-style-type: none;
        }
        #Countdown {
            color: red;
        }
    </style>