@model Entities.Question

<div class="card">
    <div class="card-header" id="heading@(Model.Id)">
        <h5 class="mb-0">
            <button id="TitleQuestion@(Model.Id)" class="btn btn-link" data-toggle="collapse" data-target="#collapse@(Model.Id)" aria-expanded="true" aria-controls="collapse@(Model.Id)">
                <span id="EntitledEditQuestion@(Model.Id)">@Model.Entitled</span> -
                @if (Model.Timer == null)
                {
                    <text>Temps par défaut</text>
                    <span id="TimerEditQuestion@(Model.Id)"></span>
                }
                else
                {
                    <text><span id="TimerEditQuestion@(Model.Id)">@Model.Timer</span>s</text>
                }
                - Ordre: <span id="OrderEditQuestion@(Model.Id)">@Model.Order</span>
            </button>
        </h5>
    </div>

    <div id="collapse@(Model.Id)" class="collapse @ViewBag.Show" aria-labelledby="heading@(Model.Id)" data-parent="#accordion">
        <div class="card-body">
            <a href="#SubmitAddQuestion" onClick="eventClickEditQuestion(@Model.Id);">Modifier Question</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Supprimer Question</a>
            <span class="IdQuestion" style="display: none;">@Model.Id</span><br />
            <a href="#TitleQuestion@(Model.Id)" onClick="eventClickAddProposal(@Model.Id);">Ajouter une proposition</a><br />
            @if (Model.Proposals != null)
            {
                foreach (var proposal in Model.Proposals)
                {
                    <span id="proposal@(proposal.Id)">
                        -
                        <span id="EntitledEditProposal@(proposal.Id)">@proposal.Entitled</span> ->
                        <span id="IsCorrectEditProposal@(proposal.Id)">@proposal.IsCorrect</span>
                        <a href="#TitleQuestion@(Model.Id)" onclick="eventClickEditProposal(@proposal.Id, @Model.Id)">Modifier une proposition</a> |
                        <a href="#TitleQuestion@(Model.Id)" onclick="eventClickDeleteProposal(@proposal.Id)">Supprimer une proposition</a><br />
                    </span>
                }
            }
        </div>
    </div>
</div>
