@model IEnumerable<Entities.Questionnaire>

@{
    ViewData["Title"] = "Questionnaires";
}

<h1>Questionnaires</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Nombre de questions
            </th>
            <th>
                Créé par
            </th>
            <th>
                Participer
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @(item.Questions != null ? item.Questions.Count : 0)
                </td>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @Html.ActionLink("Participate", "Participate", "Question", new { questionnaireId = item.Id, order = 1, isFirstQuestion = true })
                </td>
            </tr>
        }
    </tbody>
</table> 